.button {
    border-radius: 25px;
    background-color: white;
    width: max-content;
    padding: 10px 22px 10px 22px;
    font-size: 16px;
    border: 2px solid #3A9691;
    color: #3A9691;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 10px;
    cursor: pointer;

}
.save {
    background-color: #3A9691 !important;
    color: white !important;
}