
.input-border {
    align-self: flex-end;
    box-shadow: 0 1.5px 0 0 #000000;
    display: block;
    height: 10px;
    width: 100%;
} 
.input {
 border:none;
 color: #000000;
 font-size: 16px;
 font-family: 'Josefin Sans', sans-serif;
 width: 80%;
 margin-top: 25px;
}
input:focus {
    outline: none;
}
input:focus~.input-border {
    box-shadow: 0 1.5px 0 0 #4B9B96;
    
}
.input-label {
    display: block;
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 10px;
    font-family: 'Josefin Sans', sans-serif;
}
.error~.input-border {
    box-shadow: 0 1.5px 0 0 #ae342b ;
}