.tab{
 display: flex;
 color: black;
 
}

.active {
    border-bottom: 2px solid #3a9691;
    color: #232323;
}
a {
    text-decoration: none;
}
h3 {
    margin-right: 30px;
    color: rgba(0, 0, 0, 0.5);
    /* height: 22px; */
   }