section {
    display: flex;
    height: 100%
}
.content {
    flex: 50%;
    margin-top: 20px;
   
}
.image {
    flex:50%;
}
img {
    width: 100%;
}
.body {
    margin: 50px auto auto;
    padding: 10px 20px;
    max-width: 80%;
}
h3 {
    margin-right: 30px;
    font-family: 'Josefin Sans', sans-serif;
    color: #232323;
   }