section {
    display: flex;
    flex-direction: column;
}
.container {
    display: flex;
    flex-direction: column;
}
.profile {
    display: flex;
}
h2 {
   
    font-family: 'Josefin Sans', sans-serif;
}
.name {
    margin-top: 20px;
    margin-bottom: 0px;
    color: #232323;
    font-size: 30px;
    font-weight: 400;
}
.email {
    margin-top: 10px;
    color: #707070;
    font-size: 16px;
    text-decoration: underline;
    font-weight: 300;
}
.tab {
    margin-top: 50px;
    margin-bottom: 20px;
}
.profile-text {
    margin-left: 10px;
}